<section>
  <br>
  <div class="container ml-auto mr-auto flex flex-wrap items-start mt-0">

    <div class="w-full pl-2 pr-2 mb-4 mt-4">
      <h1 class="text-3xl font-extrabold text-center"> Agregar un Super Heroe - Completar los Campos </h1>
    </div>
    
  </div> 

  <div class="container ml-auto mr-auto flex items-center justify-center">
    <div class="w-full md:w-1/2">

      <!-- Formulario -->
      <form class="bg-white px-8 pt-6 pb-8 mb-4">
        <div class="mb-4">
          <div class="grid grid-flow-row sm:grid-flow-col gap-3">
            <div class="sm:col-span-4 justify-center">
              <label class="block text-gray-700 text-sm font-bold mb-2" for="nya"> Nombre del Super Heroe </label>
              <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="nya" type="text" placeholder="Ej. Iroman" required>
            </div>
            <div class="sm:col-span-4 justify-center">
              <label class="block text-gray-700 text-sm font-bold mb-2" for="nombreReal"> Nombre Real del Super Heroe </label>
              <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="email" type="text" placeholder="Ej. Tony Stark" required>
            </div>
          </div>          
        </div>
        

          <div class="mb-4">
            <div class="grid grid-flow-row sm:grid-flow-col sm:grid-cols-3 gap-4">
                <div class="justify-center">
                    <label class="block text-gray-700 text-sm font-bold mb-2" for="edad"> Edad </label>
                    <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="edad" type="text" placeholder="Numero" required>
                </div>
                <div class="justify-center">
                    <label class="block text-gray-700 text-sm font-bold mb-2" for="creador"> Creador </label>
                    <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="creador" type="text" placeholder="Programador Creador" required>
                </div>
                <div class="justify-center">
                    <label class="block text-gray-700 text-sm font-bold mb-2" for="planeta"> Planeta de Origen </label>
                    <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="planeta" type="text" placeholder="Ej. Tierra" required>
                </div>
            </div>
        </div>
        <div class="mb-4">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="asunto"> Debilidad </label>
          <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="asunto" type="text" placeholder="Ej. No tener armaudra" required>
        </div>
        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="asunto"> Poderes </label>
            <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="asunto" type="text" placeholder="Ej. Millonario" required>
        </div>
        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="asunto"> Aliados </label>
            <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="asunto" type="text" placeholder="Ej. Capitan America" required>
        </div>
        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="asunto"> Enemigos </label>
            <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="asunto" type="text" placeholder="Ej. Tanhos" required>
        </div>
        <div class="flex items-center justify-center gap-8">
          <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit"> Aceptar </button>
          <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit"> Cancelar </button>
        </div>        
      </form>        
    </div>
  </div>  
</section>